<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>
<body>
    <header class="header">
        <a class="home" href="/messages">Home</a>
        <a href="/message/" class="create">Create</a>
    </header>
    <form class="form" action="/message/create/" method="post">
        <label>Title: <br><input type="text" name="title" id="title" required></label>
        <label>Author: <br><input type="text" name="author" id="author" required></label>
        <label>Message: <br><textarea name="message" id="message" cols="30" rows="10" required></textarea></label>
        <button>CREATE</button>
    </form>
</body>
</html>