<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>GET MESSAGES</title>
</head>
<body>
    <header class="header">
        <a class="home" href="/messages">Home</a>
        <a href="/message/create/" class="create">Create</a>
    </header>
    {% for message in messages %}
        <div class="messages">
            <h1 class="title">{{ message[1] }}</h1> 
            {% if access_route %}
            <p class="date">Create Data -&gt; {{ message[4] }}</p>
            {% endif %}
            <p class="author">author: {{ message[2] }}</p> 
            <p class="message">{{ message[3] }}</p>
            {% if not access_route %}
            <form action="/message/{{ message[0] }}/" method="get">
                <button>see</button>
            </form>
            {% endif %}
            <form action="/message/update/{{ message[0] }}/" method="get">
                <button>update</button>
            </form>
            <form action="/message/{{ message[0] }}/" method="post">
                <button>remove</button>
            </form>
        </div>
    {% endfor %}    
</body>
</html>