<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    {% block style %}{% endblock %}
</head>
<body>
    <header class="header">
        <a class="home" href="/messages/1/">Home</a>
        <a href="/message/create/" class="create">Create</a>
    </header>
    <div class="content">{% block content %}{% endblock %}</div>
</body>
</html>