<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>
<body>
    <header class="header">
        <a class="home" href="/messages">Home</a>
        <a href="/message/create/" class="create">Create</a>
    </header>
    {% for message in messages %}
        <div class="messages">
            <h1 class="title">{{ message[1] }}</h1> 
            <p class="date">Create Data -&gt; {{ message[4] }}</p>
            <p class="author">author: {{ message[2] }}</p> 
            <p class="message">{{ message[3] }}</p>

            <form class="form" action="/message/update/{{ message[0] }}/" method="post">
                <label>Title: <br><input type="text" name="title" id="title" maxlength="30"></label>
                <label>Author: <br><input type="text" name="author" id="author" maxlength="30"></label>
                <label>Message: <br><textarea name="message" id="message" cols="30" rows="10" maxlength="200"></textarea></label>
                <button>UPDATE</button>
            </form>
            {% if blank %}
                <p style="color: red;">One of them must be filled in</p>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>