Flask==2.0.1
  - click [required: >=7.1.2, installed: 8.0.1]
  - itsdangerous [required: >=2.0, installed: 2.0.1]
  - Jinja2 [required: >=3.0, installed: 3.0.1]
    - MarkupSafe [required: >=2.0, installed: 2.0.1]
  - Werkzeug [required: >=2.0, installed: 2.0.1]
gunicorn==20.1.0
  - setuptools [required: >=3.0, installed: 56.0.0]
psycopg2-binary==2.9.1
python-dotenv==0.17.1
